/* .bg-area {
    background-image: url(/static/img/pic-bg-cinema.webp);
    
} */

body {
    background-color: black;
    background-image: url(/static/img/bg-blurr.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.showland-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 80%;
    
}

.section-login {
    background-color: #f2f2f2;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 5px solid #ffffff;
    padding: 10px;
}

.login-inner-page {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.g_id_signin {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-p {
    text-align: center;
}

.no-account {
    font-size: small;
    line-height: 0.5;
}

.google-sign-in {
    font-size: xx-small;
    line-height: 0.5;
}

/* .input-login {
    display:inline-block;
    width:130px;
    margin:0;
    margin:0 0 7px 0;
}

.namefield-login {
    display:inline-block;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
} */

