/* .bg-area {
    background-image: url(/static/img/pic-bg-cinema.webp);
    
} */

body {
    background-color: black;
    background-image: url(/static/img/bg-blurr.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.showland-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 90%;
    padding: 10px;
    
}

.section-login {
    background-color: #fffcf2;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 5px solid #ffffff;
    padding: 10px;
}

.login-inner-page {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.g_id_signin {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-p {
    text-align: center;
}

.no-account {
    font-size: small;
    line-height: 0.5;
    padding: 15px;
}

.google-sign-in {
    font-size: xx-small;
    line-height: 0.5;
}

.flash-msg {
    opacity: 4;
    font-size: large;
    font-weight: bold;
    color:white;
    text-align: center;
}


.btn {
    background: #eb5e28;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 65%;

}

input {
    width: 65%;
}

.navbar-login {
    background-color: #fffcf2;
    border-color: #fffcf2;

}


