
/* NAV BAR */
.navbar-collapse {
    background-color: #fffcf2;
}
.navbar-login {
    background-color: #fffcf2;
    border-color: #fffcf2;
}

/* BODY */
body {
    background-color: black;
    background-image: url(/static/img/interestellar1-bg\ .png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* BODY HOMEPAGE */
body.container-homepage {
    background-image: url(/static/img/interestellar1-bg\ .png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* HOMEPAGE */
.homepage-content {
    background-color: black;
    background: rgba(255, 252, 242, 0.2);
    color: #fffcf2;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    /* margin-left: 480px; */
    /* margin-top: 30px; */
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* border: 1px solid #ffffff; */
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
}

.btn {
    background: #eb5e28;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 30%;
}    

.headline {
    padding: 40px;
    margin: 0;
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
}

.showland-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 30px;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 140px;
    margin-right: 138px;
    color:#eb5e28
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/* MEDIA */
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#eb5e28
}

h2 {
    font-weight: bold;
    width: 100%;
}

.headline {
    color:#fffcf2;
}

.sub-headline {
    color:#fffcf2;
    font-family: 'Open Sans', sans-serif;

}

/* POPULAR MEDIA SLIDER */
.slider-wrapper {
    margin: auto;
    margin-top: 50px;
}

#slider * {
    margin: 0;
}

#slider {
    background-color: black;
    background: rgba(0, 0, 0, 0.7); /* translucent */
    height: 580px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    float: left;
}


.container {
    width: 1600px;
    /* margin: auto;
    margin-left: auto; */
    display:flex;
    justify-content:center;
    align-items:center;

}

.subcontainer {
    width: 85%;
    /* margin-left: 7.5%;
    margin-right: 7.5%; */
}

p.year {
    font-size: 0.8rem;
}

img {
    border-radius: 5px;
    width: 60%;
    /* height: 275px; */
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px rgba(255, 252, 242, 0.8) insert;
}

.slide-img a {
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: black;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

@media(max-width: 1600px) {
    .container {
        width: 100%;
    }
}


/* SEARCH MEDIA FORM */
#search-media-form {
    background-color: black;
    background: rgba(0, 0, 0, 0.7); /* translucent */
    height: 180px;
    color:#fffcf2;
    margin: auto;


}
/* submit button */
input.search-media {
    background: #eb5e28;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 13%;
    padding: 2px;
    margin-bottom: 80px;
}

.search-label {
    color:#fffcf2;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    width: 350px;
    margin-top: 40px;
}

/* search input */
#search-btn {
    padding: 3px;
    /* box-shadow: 3px 3px 5px grey; */
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    margin: 0;
    border-radius: 4px;

}

p.search {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;

}

.bi {
    /* background-color: #eb5e28; */
    height: 10%;
    width: 5%;
    /* padding-left: 5px; */
}

input::placeholder {
    font-size: 12px;
}
 /* hr {
    margin: 50px;
    margin-bottom: 30px;
    text-align: center;
    display:flex;
justify-content:center;
align-items:center;
 } */

.popular-week {
    margin-top: 40px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color:#eb5e28;
    font-weight:400;
    font-size: 25px;
    border: 1rem;
}

.popular {
    margin-top: 30px;
    color: white;
    font-weight: 100;
}

#popular-medias-nav {
    border-top: 50px;
    background-color: black;
    background: rgba(0, 0, 0, 0.7); /* translucent */
    color: white;
}
