/* html {
    width: 100%;
    height: 100%;
} */

/* NAV BAR */
.navbar-collapse {
    background-color: #fffcf2;
}
.navbar-login {
    background-color: #fffcf2;
    border-color: #fffcf2;
    padding: 0 !important;
    padding-left: 10px !important;
}

/* BODY */
body {
    height: 100vh;
    background-color: black;
    background-image: url(/static/img/interestellar1-bg\ .png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.full-content {
    width: inherit;
    min-height: 100vh;
    background-color: black; 
    background: rgba(0, 0, 0, 0.8);    /* translucent */
}

/* BODY HOMEPAGE */
body.container-homepage {
    background-image: url(/static/img/interestellar1-bg\ .png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* HOMEPAGE */
.homepage-content {
    background-color: black;
    background: rgba(255, 252, 242, 0.2);
    color: #fffcf2;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    /* margin-left: 480px; */
    /* margin-top: 30px; */
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* border: 1px solid #ffffff; */
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
}

.btn {
    background: #eb5e28;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 30%;
}    

.headline {
    padding: 40px;
    margin: 0;
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
}

.showland-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 30px;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 140px;
    margin-right: 138px;
    color:#eb5e28
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: 16px;
    text-align: center !important;
}

/* MEDIA */
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#eb5e28
}

h2 {
    font-weight: bold;
    width: 100%;
}

.headline {
    color:#fffcf2;
}

.sub-headline {
    color:#fffcf2;
    font-family: 'Open Sans', sans-serif;

}

/* POPULAR MEDIA SLIDER */
.slider-wrapper {
    margin: auto;
    margin-top: 50px;
    display:flex;
justify-content:center;
align-items:center;

}

#slider * {
    margin: 0;
}

#slider {
    height: 410px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%;
    float: left; */
}


.container {
    width: 1600px;
    /* margin: auto;
    margin-left: auto; */
    display:flex;
    justify-content:center;
    align-items:center;

}

.subcontainer {
    width: 85%;
    /* margin-left: 7.5%;
    margin-right: 7.5%; */
    display:flex;
justify-content:center;
align-items:center;
}

p.year {
    font-size: 0.8rem;
    text-align: center !important;
}

img {
    border-radius: 5px;
    width: 65%;
    /* height: 275px; */
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin: auto !important;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px rgba(255, 252, 242, 0.8) insert;
}

.slide-img a {
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: black;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

@media(max-width: 1600px) {
    .container {
        width: 100%;
    }
}


/* SEARCH MEDIA FORM */
#search-media-form {
    /* background-color: black; */
    /* background: rgba(0, 0, 0, 0.7); translucent */
    display:flex;
justify-content:center;
align-items:center;
    height: 120px;
    color:#fffcf2;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;


}
/* submit button */
input.search-media {
    background: #eb5e28;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 8%;
    padding: 2px;
    line-height: 2;
    margin-top: 0.7rem
}

.search-label {
    color:#fffcf2;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    width: 250px;
    text-align: end;
    padding: 5px;

}

/* search input */
#search-btn {
    padding: 3px;
    /* box-shadow: 3px 3px 5px grey; */
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    margin: 0;
    border-radius: 4px;
    line-height: 2;

}

p.search {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;

}

.bi {
    /* background-color: #eb5e28; */
    height: 10%;
    width: 5%;
    /* padding-left: 5px; */
}

input::placeholder {
    font-size: 12px;
}
 /* hr {
    margin: 50px;
    margin-bottom: 30px;
    text-align: center;
    display:flex;
justify-content:center;
align-items:center;
 } */

.popular-week {
    margin-top: 40px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color:#eb5e28;
    font-weight:400;
    font-size: 25px;
    border: 1rem;
}

.popular {
    margin-top: 30px;
    color: white;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
    /* top: 40%;
    left: 48%;
    position: absolute;  */
}


#popular-medias-nav {
    border-top: 50px;
    /* background-color: black; */
    /* background: rgba(0, 0, 0, 0.7); translucent */
    color: white;
}

/* MEDIA RESPONSE FROM SEARCH */
.m-response {
    width: 30%;
}

.media-response {
    display:flex;
justify-content:center;
align-items:center;
margin: auto;
}

.img-div {
    /* border: 2px solid black; */
    margin: auto !important;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}

.img-div a {
    width: 100% !important;

}

.img-div-2 img {
    /* width: 30%; */
    padding-bottom: 8px;
    border-radius: 5px;

}

.results {
    text-align: center;
    /* border: 2px solid black; */
}

.title-year {
    /* border: 2px solid black; */
    padding-top: 60px;
    padding-bottom: 20px;
}

.title-year p{
    color: white;
}

.description-c {
    /* border: 2px solid white; */
    width: 100%;
    /* flex: 1;
    border: 2px solid blueviolet;
    margin: 10px; */
    text-align: center;
}

/* #media-details-div{
    border: 2px solid black;
} */

.content-media {
    /* border: 2px solid red; */
    display: flex;
    /* margin-left: 180px;
    margin-right: 180px; */
}

.comment-area {
    width: 50%;
    /* flex: 1; */
    /* border: 2px solid white; */
    /* margin: 10px; */
    display:flex;
    justify-content:center;
    align-items:center;
}

.media-details {
    padding-bottom: 50px;
    /* display: flex;
    /* flex: 1;
    border: 2px solid blueviolet;
    margin: 10px;  */
}

.img-div-2 {
    width: 40%;
    /* border: 2px solid white; */
}    

.save-for-later-btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: auto;
    background: #eb5e28;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-weight: 700;
}

.btn:hover {
    color: #eb5e28 !important;
    background-color: #fffcf2 !important;
}

.comment-media-btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: auto;
    background: #eb5e28;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-weight: 700;
}

/* .comment-media-btn:hover {
    color: white !important;
    transition: 0.7s;
} */

.comment-label {
    padding: 10px;
    padding-top: 50px;
    color: white;
} 

#media-overview {
    color: white;
    width: 100%;
    margin: 0;
}

#media-year {
    text-align: center;
}

.latest-comment {
    padding-top: 50px;
}

#no-comment {
    text-align: center;
    color: white;
}

.empty {
    /* border: 2px solid pink; */
    width: 50%;
}

td {
    color: white;
}

#comment-media {
    width: 100%;
    padding: 20px 10px; 
    line-height: 35px;
}

.label-comment {
    display: block;
    padding-top: 10px;
}

#submit-comment-btn {
    width: 45%;
}

.btn-action {
    width: 14%;
}

.bi-trash-fill {
    width: 15px !important;
}

.bi-hand-thumbs-up-fill {
    width: 15px !important;
}

/* LATEST COMMENTS */

.comment-div {
    /* border: 1px solid pink; */
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 30px;
}

.comment-item {
    text-align: center;
    background: rgba(255, 252, 242, 0.2);
    border-radius: 50px;
    color: white;
}

.comment-p {
    margin: 0 !important;
    color: white;
    font-weight: 100;
}

/* PROFILE */

.ful-page {
    background: rgba(0, 0, 0, 0.8);    /* translucent */

}

/* .save-for-later {
    margin-left: 130px;
    margin-right: 130px;
} */

.save-for-later img { 
    width: 200px !important;
    height: 285px !important;
}

.user-comments img {
    width: 200px !important;
    height: 285px !important;
}

.user-comments p{
    margin: 0 !important;
    color: white !important;
}

.rated {
    color:#eb5e28
}

.activity {
    width: 100%;
}

.no-follow {
    margin-bottom: 0 !important;
    color: white !important;
}

.user-g {
    padding-top: 20px;
}

#follow-user {
    width: 8% !important;
}

.user-follow {
    text-align: center;
}

.n-likes {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    font-size: 15px;
    font-weight: 700;
}

.profile-btn {
    width: 20% !important;
}

.flash-msg {
    opacity: 4;
    font-size: large;
    font-weight: bold;
    color:white !important;
    text-align: center;
    padding-top: 60px;
    
}