{% extends 'base.html' %}

{% block title %} Log in here {% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}


{% block body %}
<div class="bg-area"></div>
<div id="login-page" class="d-flex align-items-center justify-content-center">
    <section class="section-login">
        <div class="login-inner-page">
            <form action="/login" class="login-form" method="POST">
                <img src="/static/img/showland-logo-white.png" id="showland-logo" class="showland-logo">
                <div class="login-div">
                    <p class="login-p"><input id="email-login" type="text" class="input-login" placeholder="Email" name="email" aria-label="Your email" required></p>
                    <!-- <label for="email-login" class="label-email">
                        <span class="content-email">Email</span>
                    </label> -->
                </div>
                <div class="login-div">
                    <p class="login-p"><input id="password-login" type="password" class="input-login" placeholder="Password" name="password" aria-label="Your password" required></p>
                    <!-- <label for="password-login" class="label-password">
                        <span class="content-password">Password</span>
                    </label> -->
                </div>


                <p class="login-p"><input type="submit" class="btn" value="Log In" aria-label="Submit"></p>

            </form>
            <p class="login-p no-account">Doesn't have an account yet? <a href="/signup" aria-label="Create your account">Create one here</a></p>
            <p class="login-p google-sign-in">──────────────────────────────────</p>
            <p class="login-p google-sign-in">OR YOU CAN ALSO</p>

            <!-- Google OAuth -->
            <script src="https://accounts.google.com/gsi/client" async defer></script>
            <div id="g_id_onload" data-client_id="369785474126-1uk5r5412uojj84mks2ro2ghu4ggi599.apps.googleusercontent.com" data-login_uri="http://localhost:5000/login/google-oauth" data-auto_prompt="false">
            </div>
            <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
            </div>
        </div>
    </section>
</div>
{% endblock %}