{% extends 'base.html' %}

{% block title %} {{media.title}} {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}

<!-- Information about a specific Media -->
<div class="full-content">
    <div class="media-details" aria-label="Details about the media">
        <div class="title-year">
            <h2 id="media-title">{{media.title}}</h2>
            <p id="media-year">{{media.year}}</p>
        </div>
        <div class="content-media">
            <div class="left empty"></div>
            <div class="img-div-2">
                <img src="{{media.poster_path}}" id="media-poster-path">
                <!-- Button for Save for Later List -->
                {%if 'user_email' in session %}
                {% set nspace = namespace(save='Save for Later') %}
                {%for data in user.savelater%}
                {%if data.media.imdb_id == media.imdb_id%}
                {% set nspace.save = 'Remove from List' %}
                {%endif%}
                {%endfor%}
                <button type="button" id="save-later{{media.imdb_id}}" value="{{media.imdb_id}}" class="btn save-for-later-btn" aria-label="Save for later">{{nspace.save}}</button>

                {%endif%}
                <p hidden id="media-id">{{media.imdb_id}}</p>
                <p hidden id="media-type">{{media.media_type}}</p>
            </div>

            <div class="comment-area">
                <div class="description-c">
                    <p id="media-overview">{{media.overview}}</p>
                    <!-- Button trigger modal to comment and rate a media -->
                    <label class="comment-label" for="comment-media-btn">Have you already watched it?</label>
                    {%if 'user_email' in session %}
                    <button type="button" class="btn comment-media-btn" id="comment-media-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Comment">
                        Drop your comment here
                    </button>
                    {% else %}
                    <form action="/login">
                        <button type="submit" class="btn comment-media-btn" aria-label="Log In to comment">Log In to comment</button>
                    </form>
                    {%endif%}
                </div>
            </div>
            <div class="right empty"></div>
        </div>
        <!-- Modal for Rate and Comment a Media-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Review {{media.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="comment-form">
                            <label for="rate-media">Rate:</label>
                            <select name="rate-media" id="rate-media">
                                <option value="1">⭐</option>
                                <option value="2">⭐⭐</option>
                                <option value="3">⭐⭐⭐</option>
                                <option value="4">⭐⭐⭐⭐</option>
                                <option value="5">⭐⭐⭐⭐⭐</option>
                            </select>
                            <label for="comment-media" class="label-comment">Leave a comment:</label>
                            <textarea id="comment-media" name="comment-media"></textarea>
                            <button type="submit" class="btn" data-bs-dismiss="modal" id="submit-comment-btn" aria-label="Submit comment">Submit Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="media-details-div" aria-label="Comments about the media">
        <table width="100%">
            <td>
                <hr />
            </td>
            <td class="popular-week latest-comment" style="width:1px; padding: 0 10px; white-space: nowrap;">Latest Comments</td>
            <td>
                <hr />
            </td>
        </table>
        <!-- <h3 class="latest-comment">Latest comments</h3> -->
        {%if 'user_email' in session%}
        <p hidden id="session-user-email">{{session['user_email']}}</p>
        {%endif%}

        <!-- Displaying media comments -->
        <div id="comment-container" class="comment-block row comment-div">

            {%if media_info != None%}
            {%for item in media_info.comments%}
            <div id="{{item.comment_id}}" class="comment-block col-4">
                <div class="comment-item p-3">
                    <a href="/profile/{{item.user.user_id}}/friend" id="media-user-fullname-p">{{item.user.full_name}}</a>
                    <p hidden id="media-user-id">{{item.user.email}}</p>
                    {%if item.review == 1%}
                    <p id="media-review-p" class="comment-p">⭐</p>
                    {%elif item.review == 2 %}
                    <p id="media-review-p" class="comment-p">⭐⭐</p>
                    {%elif item.review == 3%}
                    <p id="media-review-p" class="comment-p">⭐⭐⭐</p>
                    {%elif item.review == 4 %}
                    <p id="media-review-p" class="comment-p">⭐⭐⭐⭐</p>
                    {%else%}
                    <p id="media-review-p" class="comment-p">⭐⭐⭐⭐⭐</p>
                    {%endif%}


                    <p id="media-comment-p" class="comment-p">{{item.comment}}</p>
                    <p hidden>{{item.comment_id}}</p>
                    <p hidden id="media-user-id-p">{{item.user.user_id}}</p>


                    {%if 'user_email' in session %}

                    <!-- Like/Unlike button for comments -->
                    {% set ns = namespace(like='Like') %}
                    {%for like in item.likes%}
                    {%if like.user.email == session['user_email']%}
                    {% set ns.like = 'Unlike' %}
                    {%endif%}
                    {%endfor%}
                    <p id="number-likes-{{item.comment_id}}-p" class="comment-p n-likes">{{item.likes|length}}</p>
                    <button type="button" id="comment{{item.comment_id}}-user{{item.user.user_id}}" value="{{item.comment_id}}" class="btn btn-outline-danger like-btn btn-action" aria-label="Like/Unlike comment">{{ns.like}}</button>
                    {%endif%}

                    <!-- Delete button for comments -->
                    {%if item.user.user_id == user.user_id%}
                    <button type="button" id="delete{{item.comment_id}}" value="{{item.comment_id}}" class="btn btn-outline-danger delete-comment-btn btn-action" aria-label="Delete comment">Delete</button>
                    {%endif%}


                </div>
            </div>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    {%if media_info == None or media_info.comments|length == 0%}
    <p id="no-comment"><i>Be the first one to comment</i></p>
    {%endif%}
</div>
</div>
<script src="/static/js/media-details.js"> </script>

{% endblock %}