{% extends 'base.html' %}

{% block title %} Sign in here {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block body %}
<div id="signup-page" class="d-flex align-items-center justify-content-center">
    <section class="section-login" aria-label="Sign up form">
        <div class="login-inner-page">
            <form action="/signup" method="POST">
                <img src="/static/img/showland-logo-white.png" id="showland-logo" class="showland-logo">
                <p class="login-p"><input type="text" name="full_name" aria-label="Your name" placeholder="Full Name" required></p>
                <p class="login-p"><input type="text" name="email" aria-label="Your email" placeholder="Email" required></p>
                <p class="login-p"><input type="password" name="password" aria-label="Your password" placeholder="Password" required></p>
                <p class="login-p"><input type="password" name="confirm-password" aria-label="Confirm passord" placeholder="Confirm Password" required></p>
                <p class="login-p"><input type="submit" class="btn" value="Sign Up" aria-label="Create an account"></p>
            </form>

            <p class="login-p no-account">Already have an account? <a href="/login" aria-label="Log In here">Log in here.</a></p>
        </div>
    </section>
</div>
{% endblock %}